<h1>TrackZone</h1>
<div class="container">
  <mat-card class="custom-card">
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Company Name</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput type="text">
      </mat-form-field>

       <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Team Members</mat-label>
        <input matInput type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Section</mat-label>
        <input matInput type="search">
      </mat-form-field>

      <button mat-raised-button color="primary">Continue</button>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/register">Back</a>
    </mat-card-actions>
  </mat-card>
</div>
