<h1>TrackZone</h1>
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
      
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>

      <button mat-raised-button color="primary">Sign in</button>
    </mat-card-content>
    <mat-card-actions class="actions-container">
      <a mat-button>Forgot password?</a>
      <a mat-button routerLink="/register">Or register here</a>
    </mat-card-actions>
  </mat-card>
</div>
