
h1 {
  position: absolute;
  top: 25%;
  left: 45%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  padding: 20px;
  width: 400px;
  text-align: center;
  background-color: #FCFAF9;
  border-width: 1px;
  border-color: black;
}

.actions-container{
  display: flex;
  justify-content: center;
}