<h1>FAQ & Support</h1>
<section class="support">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>How to delete my account?</mat-card-title>
      <mat-card-subtitle>Explanation on how workers and supervisors can delete their accounts</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Can I change subscription plans?</mat-card-title>
      <mat-card-subtitle>Detailed view on subscription plans and explanation on how to switch</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>How can I reassign a task?</mat-card-title>
      <mat-card-subtitle>Detailed explanation on the task reassignment process.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>Learn More</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Have more questions?</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="openDialog()">Submit</button>
    </mat-card-actions>
  </mat-card>

</section>
